{%extends 'base.html'%}

{%block title%} 
Home 
{%endblock%}
{%block styles%} 
<link rel = "stylesheet" href="styles.css"> 
{%endblock%}
{%block content%} 

{%include './includes/navbar.html'%}
<h1>Welcome to the Learning Basics</h1>

<!-- Your new search engine has been created
Copy the following code and paste it into your site's <body> section, where you want the search box and the search results to render.
    
URL for API : https://programmablesearchengine.google.com/controlpanel/create/congrats?cx=e1269415a966c4861
-->

<!-- <script async src="https://cse.google.com/cse.js?cx=e1269415a966c4861">
</script>
<div class="gcse-search"></div> -->

{%endblock%}




