<nav class="navbar navbar-light bg-light justify-content-between">
  <div class="ms-20">
   <a class="navbar-brand" href="/"> <img src="/app/static/images/logo2.png" width="150px" alt="the,basics"></a>
  </div>
  <!-- <form class="form-inline"> -->
    <!-- <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search"> -->
  <div class="me-20">
    {% if current_user.is_anonymous %}
    <a href="{{url_for('auth.login')}}" class="btn btn-outline-success my-2 my-sm-2" type="submit">Login</a>

    <a href="{{url_for('auth.signup')}}" class="btn btn-outline-success my-2 my-sm-2 margin-right: 1rem" type="submit">SignUp</a>

    {% else %}
     

      
        <a href="{{url_for('auth.logout')}}" class="btn btn-outline-success my-2 my-sm-2 margin-right: 1rem" type="submit">Log Out</a>

      {% endif %}
      <!-- </form> -->
    </div>
  
</nav>

{% with messages = get_flashed_messages(with_categories = true) %}
{% if messages %}
{% for category, message in messages %}
  <div class = "alert art-{{category}} alert-dismissible fade show" role=""alert>
    {{mesage}}
    <button type ="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
  {% endfor %}
{% endif %}
{% endwith %}