<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"> <img src="../static/images/logo2.png" width="150px" alt="the,basics"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span> 
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
    
        
     {% if current_user.is_anonymous %}
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('auth.login')}}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('auth.signup')}}">Sign Up</a>
        </li>
        {% else %}
       

        <li class="nav-item">
          <a class="nav-link active" href="{{url_for('auth.logout')}}">Log Out</a>
        </li>
        {% endif %}
      </ul>
      
      {%if current_user.is_authenticated %}
        <h4 class="mr-3">{{current_user.username}}</h4>
      {% endif %}
    </div>
    </div>
  </nav>

{% with messages = get_flashed_messages(with_categories = true) %}
  {% if messages %}
  {% for category, message in messages %}
    <div class = "alert art-{{category}} alert-dismissible fade show" role=""alert>
      {{mesage}}
      <button type ="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {% endfor %}
  {% endif %}
  {% endwith %}