{%extends 'base.html'%}

{%block title%} 
Admin - Edit Questions
{%endblock%}
{%block styles%} 
<link rel = "stylesheet" href = "../static/styles/login.css" >

{%endblock%}
{%block content%} 
{%include './includes/navbar.html'%}        
<div class = "flex-container">
<form method = 'POST'>
    {{form.hidden_tag()}}
          <h2 class="title-txt">Manage Questions</h2>
     <div class="mb-3">
      <label for="questiona" class="form-label">Questiona</label>
        {{form.questiona(class='form-control', id="questiona", value=question.questiona)}}
      </div>

      <div class="mb-3">
        <label for="option_a" class="form-label">Option A </label>
          {{form.option_a(class='form-control', id="option_a", value=question.option_a)}}
        </div>

        <div class="mb-3">
          <label for="option_b" class="form-label">Option B </label>
            {{form.option_b(class='form-control', id="option_b", value=question.option_b)}}
          </div> 
        <div class="mb-3">
          <label for="option_c" class="form-label">Option C </label>
            {{form.option_c(class='form-control', id="option_c", value=question.option_c)}}
          </div> 
        <div class="mb-3">
          <label for="option_d" class="form-label">Option D </label>
            {{form.option_d(class='form-control', id="option_d", value=question.option_d)}}
          </div> 
        <div class="mb-3">
          <label for="answer" class="form-label">Answer </label>
            {{form.answer(class='form-control', id="answer", value=question.answer)}}
          </div>

        <div class="mb-3">
       <label for="course_id" class="form-label">Course </label>
        {{form.course_id(class='form-control', id="course_id", value=question.course_id)}}
      </div>
      
      <div class="mb-3">
        <label for="topic_id" class="form-label">Topic </label>
        {{form.topic_id(class='form-control', id="topic_id", value=question.topic_id)}}
        </div>

        <div class="mb-3">
          <label for="score_id" class="form-label">Score </label>
          {{form.score_id(class='form-control', id="score_id", value=question.score)}}
          </div>

    <div class="mb-3">

      {{form.submit_btn(class='btn my-btn', id='btn_editquestion', value = "Update Question")}}
  </form>
</div>
{%endblock%}

