{%extends "base.html"%}

{%block title%} Forgot Password {%endblock%}

{%block styles%} 
<link rel = "stylesheet" href = "../static/styles/login.css" >
{%endblock%}

    {%block content%} 
    
    {%include './includes/navbar.html'%}  
   <div class="container d-flex">
    <form>
    
     <div class="mt-20"> 
      <img src="../static/images/logo.png" width="200px" alt="the,basics"class="logo-img">
      <hr/>        
    </div> 
        
          <div class="mb-3">
            <h2 class="title-txt"> Forgot Password? </h2>
            </div>
            <hr/>
        <div class="mb-3">
          <label for="email" class="form-label">Email address to send you a password reset code.</label>
          <input type="email" id="email" placeholder="type your email here">
         
        </div>
        <div>
        
          <button type="button" onclick="showAlert()"> Send Reset Code</button>
        </div>

        
        
      </div>
      </div>
    </form>

      <script>
        function showAlert() {
          alert("Request sent for password reset. Please check your email!");
        }
      </script>

   

      {%endblock%}


